.container{
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
    height: 98vh;
    display: grid;
    grid-template-columns: 220px 900px;
    justify-content: space-between;
}
.BlockNews{
    height: 100%;
    max-height: calc(100vh - 50px);
    overflow-y: scroll;
    padding: 35px 45px;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    &Back{
        padding: 10px 0 10px 0;
    }
    &Title{
        width: 80%;
        margin-top: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        text-transform: capitalize;
    }
    &Txt{
        margin-top: 30px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    &Qu{
        width: 80%;
        margin-left: 30px;
        padding: 8px 10px;
        margin-top: 24px;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        border-left: 3px solid #ED774E;
    }
}