.container{
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
    height: 98vh;
    display: grid;
    grid-template-columns: 220px 900px;
    justify-content: space-between;
}


.personSide{
    height: 100%;
    max-height: calc(100vh - 50px);
    padding: 45px;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    &Top{
        display: flex;
        justify-content: space-between;
    }
    &Title{
        margin-top: 75px;
        display: inline-flex;
        padding-right: 100px;
        padding-bottom: 12px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        text-transform: capitalize;
        border-bottom: 2px solid #253C55;
    }
}
.PefronProfile{
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    text-transform: capitalize;
    color: #253C55;
}

.personNews{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}