@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #EFF2F4;
}
.b-col{
  background-color: #EFF2F4;
}

.safeHeight {
  height: calc(100vh - constant(safe-area-inset-bottom)); 
}

::-webkit-scrollbar {
  width: 0;
}