.Tag{
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(234, 231, 216, 0.3);
    border-radius: 50px;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        background: #ED774E;
        color: #fff;
    }
}