.Profile{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px;
    width: 230px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(37, 60, 85, 0.09);
    border-radius: 10px;
    cursor: pointer;
    &Img{
        border-radius: 10px;
    }
    &Name{
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 14px;
        text-transform: capitalize;
    }
    &More{
        position: absolute;
        top: 11px;
        right: 10px;
    }
}